a, a:hover{
    text-decoration: none;
}


.nav-hold,
.container,
.image-grid,
.form-container,
.footer{
    width: 95%;
    max-height: 1000px;
    margin: 0 auto;
}


.nav-bar{
    width: 100%;
    background: #222;
}

.nav-hold{
    overflow: hidden;
}

.nav-logo{
    float: left;
    display: block;
    padding: 20px 10px;
    color: #f9f9f9;
    font-weight: 600;
    
}

.nav-list{
    float: right; 
}

.nav-list li{
    float: left;
}

.nav-list li a{
    padding:20px 10px;
    display: block;
    color:#f9f9f9;
}


.nav-menu{
    display: none;
}



.container{
    padding:50px 10px 10px 10px;
}

.container h1,
.container h2,
.form-container h2
{
    font-size:2em;
    padding-top:20px;
    padding-bottom:20px;
    font-weight: 600;
}

.container p{
    line-height: 1.35em;
    .columns:2;
    -webkit-columns:2;
    -moz-columns:2;
    -o-columns:2;
    -ms-columns:2;
}

.container h2{
    margin-top:30px;
}

.image-grid{
    overflow: hidden;
    padding: 5px;
}

.image-grid-square{
    width:20%;
    float: left;
    padding:5px;
    overflow: hidden;
}

.image-grid-square img{
    width:100%;
    float: left;
}

.footer{
    height: 200px;
    display: block;
}

/*Form*/

.form-section{
     width: 25%;
    float: left;
    padding:5px;
}

.message-section,
.submit-section{
    width:100%;
}


.form-section label{
    display: block;
    margin-bottom: 2px;
}

.form-section input,
.form-section textarea{
    width:100%;
    padding: 5px 10px;
    font-size: 1.11em;
    line-height: 1.3em;
    
}

.form-section textarea{
    resize: none;
    height: 150px;
    padding: 10px;
}

.form-section input.submit-button{
    float: none;
    display: block;
    border:none;
    outline: none;
    background: #111;
    color:#f9f9f9;
    cursor: pointer;
    max-width: 500px;
    margin: 0 auto;
}



